@font-face {
  font-family: 'GlacialIndifference';
  src: url('./assets/fonts/GlacialIndifference-Regular.otf');
}

@font-face {
  font-family: 'HKGrotesk';
  src: url('./assets/fonts/HKGrotesk-Regular.otf');
}

.App-header {
  font-family: 'HKGrotesk';
}
