.logo {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}

.logo-container {
  width: 50px;
}

.carouselContainer {
  padding-top: 5%;
  padding-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.carousel {
  min-width: 50px;
  min-height: 50px;
}
