.logo {
  max-width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-container {
  width: 50px;
}

.carouselContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 50%;
}

.carousel {
  min-width: 50px;
  min-height: 50px;
}
