#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: #ef827f !important;
}

.fp-tooltip,
.fp-sr-only {
  background-color: rgba(255, 123, 123, 0.7);
  padding: 5px;
  margin-top: -7px;
}

#fp-nav ul li .fp-tooltip {
  font-family: "GlacialIndifference";
  font-size: 12pt;
}
