.carouselContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  min-height: 100%;
}
.left-arrow {
  cursor: pointer;
  color: white;
  display: inline;
  transform: scale(0.5);
}
.right-arrow {
  cursor: pointer;
  color: white;
  display: inline;
  transform: scale(0.5);
}
