.MemberGroup-row {
  display: flex;
  flex-direction: row;
}

.MemberGroup-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}

/* SCROLLBAR -- Not supported on Firefox/Edge */
.MemberGroup-container::-webkit-scrollbar {
  height: 6px;
}

.MemberGroup-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.MemberGroup-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff4e72;
}

/* (one shade darker than #ff4e72) */
.MemberGroup-container::-webkit-scrollbar-thumb:hover {
  background: #e84768;
}
