.Members-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Members-cardSpacing {
  margin-right: 20px;
}

.Members-choiceSpacing {
  margin-left: 20px;
}
